{% extends "base.html" %}
{% block content %}
<h1>Share a Celebration</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="flash {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        <label>{{ form.title.label }}</label>
        {{ form.title(size=32) }}
        {% for error in form.title.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        <label>{{ form.content.label }}</label>
        {{ form.content(rows=5, cols=50) }}
        {% for error in form.content.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        <label>{{ form.file.label }}</label>
        {{ form.file() }}
        {% for error in form.file.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}